/node_modules
/public/hot
/public/storage
/public/assets
/public/pageImages
/public/modulus
/public/orders
/public/pricings
/public/chat/chatFile
/storage/app
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/debugbar
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.DS_Store
/.codex-write-check
*.zip
error_log
octane.log
/public/error_log
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/12.03.2023.zip
